@import "~@payloadcms/ui/scss";

.status {
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 16px;
  border-radius: 2px;
  text-transform: capitalize;

  &.margin {
    margin-block-end: 16px;
  }

  &.published,
  &.accepted {
    background-color: var(--theme-success-400);
    color: var(--color-base-0);
  }

  &.expired,
  &.rejected {
    background-color: var(--theme-error-400);
    color: var(--color-base-0);
  }

  &.unpublished,
  &.pending {
    background-color: var(--theme-warning-400);
    color: var(--color-base-0);
  }

  &.readonly {
    background-color: var(--theme-elevation-200);
    color: var(--theme-elevation-450);
  }
}

.status-select-field {
  padding: 1rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 0.375rem;
  cursor: pointer;
  transition: all 0.1s ease-in-out;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
    background-color: var(--color-base-300);
    color: var(--color-base-800);
  }

  &.published {
    color: var(--color-base-0);
    background-color: var(--color-success-400);
  }

  &.expired {
    color: var(--color-base-0);
    background-color: var(--color-error-400);
  }

  &.unpublished {
    color: var(--color-base-0);
    background-color: var(--color-warning-400);
  }

  .status-text {
    margin: 0;
    padding: 1rem;
    text-align: center;
    font-size: 1.125rem;
    font-weight: bold;
    line-height: 1;
  }
}
